# mathmetical operation by python

In [25]:
x=5
y=4
z=90

In [31]:
x+y     #addition in python

9

In [32]:
x-y     #subtraction in python

1

In [33]:
x*z    #multipliction in pyython

450

In [34]:
z/x   #divition in python

18.0

In [35]:
x**y     #exponentaition in python(power)

625

In [36]:
5*5*5*5     #checking the exponentiation result

625

# python identity operation

In [37]:
a=10
b=10

In [44]:
a is b     #here is deals with memory location and in python less then 4 digit same values are locate in same location.
          #thats why we get true in both is and equal equal operation

True

In [45]:
a==b     #equal equal deals with the value
        #check the id for better understanding

True

In [48]:
id(a)

140704840586312

In [49]:
id(b)

140704840586312

In [41]:
c=124378
d=124378

In [46]:
c is d  #here the value are same but its contain more than 4 digit so the memory location is not same.so in is operation we get 
        #false

False

In [53]:
c==d   #equal equal deals with only value so we get true
         #check the id of c and d

True

In [50]:
id(c)

2788613600336

In [51]:
id(d)

2788613601776

In [55]:
c is not d   #is not works same as is but just in opposite way

True

# membership operator(in and not in)

In [56]:
list1=[1,2,3,4,5,6,7,8]

In [62]:
3 in list1      #by in operation we find the value include or not in a list or something

True

In [58]:
10 in list1

False

In [59]:
7 not in list1

False

In [61]:
10 not in list1

True

In [65]:
st='tanvir learn python'    #we can use this function also tho find a string
'learn' in st

True

# some extra important operation

In [68]:
v=20
v+=3      #v+=3 means v=v+3

In [67]:
v

23